/*Created with Adobe RoboHelp 2019.*/
body {
  font-family: Calibri;
  counter-reset: p\.fig_numb h2 h3 h3\.h3_9_7_2_ p\.fig_name h3\.h3_9_7_5_ h4 h4\.h4_9_7_5_2_ h3\.h3_9_7_7_;
}
h1 {
  font-weight: bold;
  font-size: 24.0pt;
  font-family: Arial;
}
h2 {
  font-weight: bold;
  font-size: 20pt;
  font-family: Arial;
}
h3 {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_9_7_2_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_9_7_5_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_9_7_7_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h4 {
  font-weight: bold;
  font-size: 12.0pt;
  font-family: Arial;
}
h4.h4_9_7_5_2_ {
  font-weight: bold;
  font-size: 12.0pt;
  font-family: Arial;
}
h5 {
  font-weight: bold;
  font-size: 12pt;
}
h6 {
  font-weight: bold;
  font-size: 12pt;
  font-family: Arial;
}
p {
  font-size: 12pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: justify;
  line-height: 1.5;
  font-family: Arial;
}
p.Fig_Numb {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_Name {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
  font-size: 12pt;
}
p.minitoc-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ol.minitoc-list ol {
  list-style: none;
}
a.minitoc-list-item {}
p.seealso-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.seealso-list-item {}
p.reltopics-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {}
p.Fig_Numb::before {
  counter-increment: p\.fig_numb;
  content: "Fig. 9.7."counter(p\.fig_numb, decimal)".";
  padding-right: 0.5rem;
}
p.Fig_Name::before {
  counter-increment: p\.fig_numb;
  content: ;
  padding-right: 0rem;
  counter-increment: p\.fig_name;
}
h2::before {
  counter-increment: h2;
  content: "9.7."counter(h2, decimal)".";
  padding-right: 0.5rem;
}
h3::before {
  counter-increment: h3;
  content: "9.7.1."counter(h3, decimal)".";
  padding-right: 0.5rem;
}
h3.h3_9_7_2_::before {
  counter-increment: h3;
  content: "9.7.2."counter(h3\.h3_9_7_2_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_9_7_2_;
}
h3.h3_9_7_5_::before {
  counter-increment: h3;
  content: "9.7.5."counter(h3\.h3_9_7_5_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_9_7_2_;
  counter-increment: h3\.h3_9_7_5_;
}
h3.h3_9_7_7_::before {
  counter-increment: h3;
  content: "9.7.7."counter(h3\.h3_9_7_7_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_9_7_2_;
  counter-increment: h3\.h3_9_7_5_;
  counter-increment: h3\.h3_9_7_7_;
}
ol.Decimal {
  list-style-type: decimal;
  counter-reset: item1;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px;
}
ol.Decimal>li {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
ol.Decimal>li:before {
  counter-increment: item1;
  content: counter(item1, decimal)".";
  text-align: right;
  position: absolute;
  left: -72px;
  margin-right: 32px;
  width: 40px;
  overflow: hidden;
}
ul.Disc {
  list-style-type: disc;
  counter-reset: item1;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px;
}
h4::before {
  counter-increment: h4;
  content: "9.7.5.1."counter(h4, decimal)".";
  padding-right: 0.5rem;
}
h4.h4_9_7_5_2_::before {
  counter-increment: h4;
  content: "9.7.5.2."counter(h4\.h4_9_7_5_2_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h4\.h4_9_7_5_2_;
}
ul.Disc>li {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
ul.Disc>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
  text-align: right;
  position: absolute;
  left: -76px;
  margin-right: 36px;
  width: 40px;
  overflow: hidden;
}
ul.Circle {
  list-style-type: circle;
}