/*Created with Adobe RoboHelp 2019.*/
body {
  font-family: Calibri;
  counter-reset: p p\.fig_numb h2 h3 h3\.h3_6_2_5_ h3\.h3_6_2_6_ p\.fig_name;
}
h1 {
  font-weight: bold;
  font-size: 24.0pt;
  color: #000000;
  font-family: Arial;
}
h2 {
  font-weight: bold;
  font-size: 20pt;
  color: #000000;
  font-family: Arial;
}
h3 {
  font-weight: bold;
  font-size: 16pt;
  color: #000000;
  font-family: Arial;
}
h3.h3_6_2_5_ {
  font-weight: bold;
  font-size: 16pt;
  color: #000000;
  font-family: Arial;
}
h3.h3_6_2_6_ {
  font-weight: bold;
  font-size: 16pt;
  color: #000000;
  font-family: Arial;
}
h4 {
  font-weight: bold;
  font-size: 12.0pt;
  color: #000000;
  font-family: Arial;
}
h5 {
  font-weight: bold;
  font-size: 12pt;
  color: #000000;
  font-family: Arial;
}
h6 {
  font-weight: bold;
  font-size: 12pt;
}
p {
  font-size: 12pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  font-family: Arial;
  color: #000000;
  text-align: justify;
  line-height: 1.5;
}
a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
  font-size: 12pt;
}
ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ol.minitoc-list ol {
  list-style: none;
}
a.minitoc-list-item {}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.seealso-list-item {}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {}
p::before {
  counter-increment: p;
  content: ;
  padding-right: 0rem;
}
ul.Disc {
  list-style-type: disc;
  counter-reset: item1;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px;
}
ul.Disc_wo_intent {
  list-style-type: disc;
  counter-reset: item1;
  list-style: none;
  padding-left: 40px;
  margin-left: -30px;
}
p.Fig_numb {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}
p.Fig_name {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}
p.Fig_numb::before {
  counter-increment: p\.fig_numb;
  content: "Fig. 6.2."counter(p\.fig_numb, decimal)".";
  padding-right: 0.5rem;
}
p.Fig_name::before {
  counter-increment: p\.fig_numb;
  content: ;
  padding-right: 0rem;
  counter-increment: p\.fig_name;
}
h2::before {
  counter-increment: h2;
  content: "6.2."counter(h2, decimal)".";
  padding-right: 0.5rem;
}
h3::before {
  counter-increment: h3;
  content: "6.2.1."counter(h3, decimal)".";
  padding-right: 0.5rem;
}
h3.h3_6_2_5_::before {
  counter-increment: h3;
  content: "6.2.5."counter(h3\.h3_6_2_5_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_6_2_5_;
}
h3.h3_6_2_6_::before {
  counter-increment: h3;
  content: "6.2.6."counter(h3\.h3_6_2_6_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_6_2_5_;
  counter-increment: h3\.h3_6_2_6_;
}
ul.Circle {
  list-style-type: circle;
}
ul.Disc>li {
  position: relative;
}
ul.Disc_wo_intent>li {
  position: relative;
}
ul.Disc>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
  text-align: right;
  position: absolute;
  left: -52px;
  margin-right: 12px;
  width: 40px;
  overflow: hidden;
  font-size: 14pt;
}
ul.Disc_wo_intent>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
  font-size: 14pt;
}
ol.Decimal {
  list-style-type: decimal;
}