/*Created with Adobe RoboHelp 2019.*/
body {
  font-family: Calibri;
  counter-reset: p\.fig_numb h2 h3 p\.fig_name h3\.h3_28_2_ p\.table_numb h3\.h3_1_10_ h3\.h3_1_10_1 h3\.h3_1_11_1 h4 h4\.h4_1_4_2 h4\.h4_1_4_3_ h3\.h3_1_5 h3\.h3_1_6 h3\.h3_1_7 h3\.h3_1_11 h3\.h3_1_12 h3\.h3_1_13 h3\.h3_2_ p\.fig_numb_lab2 h3\.h3_3_ p\.fig_numb_lab3 h3\.h3_4_ p\.fig_numb_lab4 h3\.h3_5_ p\.fig_numb_lab5 p\.fig_numb_lab6 h3\.h3_6_ h3\.h3_7_ h3\.h3_8_ h3\.h3_9_ h3\.h3_10_ p\.fig_numb_lab7 p\.fig_numb_lab8 p\.fig_numb_lab9 p\.fig_numb_lab10 p\.fig_numb_lab11 p\.fig_numb_lab12 h3\.h3_11_ h3\.h3_12_;
}
h1 {
  font-weight: bold;
  font-size: 24.0pt;
  font-family: Arial;
}
h2 {
  font-weight: bold;
  font-size: 20pt;
  font-family: Arial;
}
h3 {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_2_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_3_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_4_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_6_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_7_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_10_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_11_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_12_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_9_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_8_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h3.h3_5_ {
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial;
}
h4 {
  font-weight: bold;
  font-size: 12pt;
  font-family: Arial;
}
h5 {
  font-weight: bold;
  font-size: 12pt;
  font-family: Arial;
}
h6 {
  font-weight: bold;
  font-size: 12pt;
  font-family: Arial;
}
p {
  font-size: 12pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: justify;
  line-height: 1.5;
  font-family: Arial;
}
p.Fig_numb {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab2 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab3 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab4 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab6 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab7 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab10 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab11 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab12 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab9 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab8 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_numb_Lab5 {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Table_numb {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Fig_name {
  font-size: 10pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: center;
  line-height: 1;
  font-family: Arial;
  font-weight: bold;
}
p.Note_text {
  font-size: 11pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  text-align: justify;
  line-height: 1.5;
  font-family: 'Times New Roman';
  font-style: italic;
}
a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
  font-size: 12pt;
}
p.minitoc-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ol.minitoc-list ol {
  list-style: none;
}
a.minitoc-list-item {}
p.seealso-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.seealso-list-item {}
p.reltopics-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {}
p.Fig_numb::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L1."counter(p\.fig_numb, decimal)".";
  padding-right: 0.5rem;
}
p.Fig_numb_Lab2::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L2."counter(p\.fig_numb_lab2, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
}
p.Fig_numb_Lab3::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L3."counter(p\.fig_numb_lab3, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
}
p.Fig_numb_Lab4::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L4."counter(p\.fig_numb_lab4, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
}
p.Fig_numb_Lab6::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L6."counter(p\.fig_numb_lab6, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
  counter-increment: p\.fig_numb_lab6;
}
p.Fig_numb_Lab7::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L7."counter(p\.fig_numb_lab7, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
  counter-increment: p\.fig_numb_lab6;
  counter-increment: p\.fig_numb_lab7;
}
p.Fig_numb_Lab10::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L10."counter(p\.fig_numb_lab10, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
  counter-increment: p\.fig_numb_lab6;
  counter-increment: p\.fig_numb_lab10;
}
p.Fig_numb_Lab11::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L11."counter(p\.fig_numb_lab11, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
  counter-increment: p\.fig_numb_lab6;
  counter-increment: p\.fig_numb_lab10;
  counter-increment: p\.fig_numb_lab11;
}
p.Fig_numb_Lab12::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L12."counter(p\.fig_numb_lab12, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
  counter-increment: p\.fig_numb_lab6;
  counter-increment: p\.fig_numb_lab10;
  counter-increment: p\.fig_numb_lab11;
  counter-increment: p\.fig_numb_lab12;
}
p.Fig_numb_Lab9::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L9."counter(p\.fig_numb_lab9, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
  counter-increment: p\.fig_numb_lab6;
  counter-increment: p\.fig_numb_lab9;
}
p.Fig_numb_Lab8::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L8."counter(p\.fig_numb_lab8, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
  counter-increment: p\.fig_numb_lab6;
  counter-increment: p\.fig_numb_lab8;
}
p.Fig_numb_Lab5::before {
  counter-increment: p\.fig_numb;
  content: "Fig. L5."counter(p\.fig_numb_lab5, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.fig_numb_lab2;
  counter-increment: p\.fig_numb_lab3;
  counter-increment: p\.fig_numb_lab4;
  counter-increment: p\.fig_numb_lab5;
}
p.Table_numb::before {
  counter-increment: p\.fig_numb;
  content: "Table. "counter(p\.table_numb, decimal)".";
  padding-right: 0.5rem;
  counter-increment: p\.table_numb;
}
p.Fig_name::before {
  counter-increment: p\.fig_numb;
  content: ;
  padding-right: 0rem;
  counter-increment: p\.fig_name;
}
h2::before {
  counter-increment: h2;
  content: "Lab "counter(h2, decimal)".";
  padding-right: 0.5rem;
}
ul.Disc {
  list-style-type: disc;
}
h3::before {
  counter-increment: h3;
  content: "1."counter(h3, decimal)".";
  padding-right: 0.5rem;
}
h3.h3_2_::before {
  counter-increment: h3;
  content: "2."counter(h3\.h3_2_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
}
h3.h3_3_::before {
  counter-increment: h3;
  content: "3."counter(h3\.h3_3_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
}
h3.h3_4_::before {
  counter-increment: h3;
  content: "4."counter(h3\.h3_4_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
}
h3.h3_6_::before {
  counter-increment: h3;
  content: "6."counter(h3\.h3_6_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
  counter-increment: h3\.h3_6_;
}
h3.h3_7_::before {
  counter-increment: h3;
  content: "7."counter(h3\.h3_7_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
  counter-increment: h3\.h3_6_;
  counter-increment: h3\.h3_7_;
}
h3.h3_10_::before {
  counter-increment: h3;
  content: "10."counter(h3\.h3_10_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
  counter-increment: h3\.h3_6_;
  counter-increment: h3\.h3_7_;
  counter-increment: h3\.h3_10_;
}
h3.h3_11_::before {
  counter-increment: h3;
  content: "11."counter(h3\.h3_11_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
  counter-increment: h3\.h3_6_;
  counter-increment: h3\.h3_7_;
  counter-increment: h3\.h3_10_;
  counter-increment: h3\.h3_11_;
}
h3.h3_12_::before {
  counter-increment: h3;
  content: "12."counter(h3\.h3_12_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
  counter-increment: h3\.h3_6_;
  counter-increment: h3\.h3_7_;
  counter-increment: h3\.h3_10_;
  counter-increment: h3\.h3_11_;
  counter-increment: h3\.h3_12_;
}
h3.h3_9_::before {
  counter-increment: h3;
  content: "9."counter(h3\.h3_9_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
  counter-increment: h3\.h3_6_;
  counter-increment: h3\.h3_7_;
  counter-increment: h3\.h3_9_;
}
h3.h3_8_::before {
  counter-increment: h3;
  content: "8."counter(h3\.h3_8_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
  counter-increment: h3\.h3_6_;
  counter-increment: h3\.h3_7_;
  counter-increment: h3\.h3_8_;
}
h3.h3_5_::before {
  counter-increment: h3;
  content: "5."counter(h3\.h3_5_, decimal)".";
  padding-right: 0.5rem;
  counter-increment: h3\.h3_2_;
  counter-increment: h3\.h3_3_;
  counter-increment: h3\.h3_4_;
  counter-increment: h3\.h3_5_;
}
ol.Decimal {
  list-style-type: decimal;
  counter-reset: item1;
  list-style: none;
  padding-left: 40px;
  margin-left: 0px;
}
ul.Circle {
  list-style-type: circle;
  list-style: none;
  counter-reset: item1;
  padding-left: 40px;
  margin-left: 32px;
}
ul.Circle>li:before {
  counter-increment: item1;
  content: counter(item1, circle);
  text-align: right;
  position: absolute;
  left: -52px;
  margin-right: 12px;
  width: 40px;
  overflow: hidden;
  margin-left: 4px;
  font-size: 14pt;
  font-family: Arial;
}
ul.Circle>li {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
ol.Decimal>li {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}
ol.Decimal>li:before {
  counter-increment: item1;
  content: counter(item1, decimal)".";
  text-align: right;
  position: absolute;
  left: -48px;
  margin-right: 8px;
  width: 40px;
  overflow: hidden;
  font-family: Arial;
  font-size: 12pt;
}
h4::before {
  counter-increment: h4;
  content: "1.4.1."counter(h4, decimal)".";
  padding-right: 0.5rem;
}